#This file managed by ansible
server {
    
    listen 8080; # временная мера до прихода 80 и 443
    root /usr/share/nginx/html/moodle/;
    index index.php index.html;
    access_log {{ nginx_moodle_log }}/access.log;
    error_log {{ nginx_moodle_log }}/error.log;

    location ~ ^(.+\.php)(.*)$ {
        root /usr/share/nginx/html/moodle/;
        fastcgi_split_path_info  ^(.+\.php)(.*)$;
        fastcgi_index            index.php;
        #fastcgi_pass             unix:/var/run/php/php7.4-fpm.sock;
        fastcgi_pass                127.0.0.1:9000;
        include /etc/nginx/mime.types; # для отображения картинок и css?
        include                  fastcgi_params;
        fastcgi_param   PATH_INFO       $fastcgi_path_info;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    # Hide all dot files but allow "Well-Known URIs" as per RFC 5785
    location ~ /\.(?!well-known).* {
        return 404;
    }
 
    # This should be after the php fpm rule and very close to the last nginx ruleset.
    # Don't allow direct access to various internal files. See MDL-69333
    location ~ (/vendor/|/node_modules/|composer\.json|/readme|/README|readme\.txt|/upgrade\.txt|db/install\.xml|/fixtures/|/behat/|phpunit\.xml|\.lock|environment\.xml) {
        deny all;
        return 404;
    }

}
