from __future__ import unicode_literals

SECRET_KEY = "{{ secret_key }}"
NEVERCACHE_KEY = "{{ nevercache_key }}"
ALLOWED_HOSTS = [{%for domain in domains%}"{{ domain }}", {% endfor %}] #ак ни странно но это цикл for на питоне

DATABASES = {
    "default": {
    # может оканчиватся на "postgresql_psycopg2", "mysql", "sqlite3" или "oracle".
    "ENGINE": "django.db.backends.postgresql_psycopg2",
    "NAME": "{{ proj_name }}", # Имя БД или путь к файлу БД, если используется sqlite3
    "USER": "{{ proj_name }}", # Не используется с sqlite3
    "PASSWORD": "{{ db_pass }}", # не используется с sqlite3
    "HOST": "127.0.0.1", # для локального хоста можно указать пустую строку. не для sqlite3
    "PORT": "", #пустая строка соответсвует порту по умолчанию. Не для sqlite3
    }
}

SECURE_PROXY_SSL_HEADER = ("HTTP_X_FORWARDED_PROTOCOL", "https")

CACHE_MIDDLEWARE_SECONDS = 60

CACHE_MIDDLEWARE_KEY_PREFIX = "{{ proj_name }}"

CACHES = {
    "default":{
        "BACKEND": "django.core.cache.backends.memcached.MemcachedCache",
        "LOCATION": "127.0.0.1:11211",
    }
}
SESSION_ENGINE = "django.contrib.session.backends.cache"
