<html>
    <head>
        <title>Welcoмe to Ansible </title>
    </head>
    
    <body>
        <h1>nginx, configured bу Ansible </h1>

        <p>If you сап see this, Ansible successfully installed nginx. </p>
        <p>{{ ansible_managed }}</р>
    </body>
</html>