server {

    listen 80;
    access_log {{ nginx_elk_log }}/access-kibana.log;
    error_log {{ nginx_elk_log }}/error-kibala.log;
    
    location / {
        proxy_pass http://localhost:5601;
        proxy_http_version 1.1;
        proxy_set_header Connection "Keep-Alive";
        proxy_set_header Proxy-Connection "Keep-Alive";
    }
}

server {

    listen 81;
    access_log {{ nginx_elk_log }}/access-elastic.log;
    error_log {{ nginx_elk_log }}/error-elastic.log;

    location / {
        proxy_pass http://localhost:9200;
        proxy_http_version 1.1;
        proxy_set_header Connection "Keep-Alive";
        proxy_set_header Proxy-Connection "Keep-Alive";
    }
}
